// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//container-dashboard
.container-videos {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 287px) {
    .container-videos {
        max-width: 210px !important;
    }
}

@media (min-width: 452px) {
    .container-videos {
        max-width: 420px !important;
    }
}

@media (min-width: 662px) {
    .container-videos {
        max-width: 630px !important;
    }
}

@media (min-width: 1120px) {
    .container-videos{
        max-width: 840px !important;
    }

    .continue-videos {
        max-height: 55px;
        display: block!important;
    }
}

@media (min-width: 1400px) {
    .container-videos {
        max-width: 1050px !important;
    }

    .continue-videos {
        max-height: 95px;
    }
}

@media (min-width: 1680px) {
    .container-videos {
        max-width: 1260px !important;
    }

    .continue-videos {
        max-height: 135px;
    }
}



// css for bigger than the sizes
@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
    .w-lg-75 {
        width: 75%;
    }
}

@include media-breakpoint-up(xl) {

}

// css for smaller than the sizes
@include media-breakpoint-down(xs) {

}

@include media-breakpoint-down(sm) {

}

@include media-breakpoint-down(md) {
    .continue-videos {
        display: block!important;
    }
}

@include media-breakpoint-down(lg) {
    .mx--lg-3 {
        margin: 0 $spacer;
    }
}

.mt-7 {
    margin-top: ($spacer * 6);
}

.line {
    width: calc(100% + .5rem);
    margin-left: -.25rem;
    border-color: rgba(0, 0, 0, 0.125);
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.size-11 {
    font-size: 11px;
}

.badge-videos {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: .25rem;
    margin-right: .25rem;
    color: $primary-color;
    background-color: rgba(0, 0, 0, 0.5);
}

.continue-videos {
    display: none;
}
